abstract_apis==0.0.1.137
abstract_database==0.0.2.126
abstract_distances==0.0.0.11
abstract_flask==0.0.0.1022
abstract_gui==0.1.63.231
abstract_hugpy==0.1.154
abstract_math==0.0.0.49
abstract_ocr==0.0.1.60
abstract_pandas==0.0.44.16
abstract_paths==0.0.0.197
abstract_pdfs==0.0.29
abstract_queries==0.0.0.114
abstract_react==0.0.0.82
abstract_security==0.78
abstract_solana==0.0.2.146
abstract_solcatcher==0.0.3.262
abstract_solcatcher_database==0.0.0.67
abstract_utilities==0.2.2.780
abstract_webserver==0.0.0.43
abstract_webtools==0.1.6.415
abstract_windows==0.0.24
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aistudio-sdk==0.3.8
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asyncpg==0.31.0
attrs==25.4.0
base58==2.1.1
bce-python-sdk==0.9.63
beautifulsoup4==4.14.3
blinker==1.9.0
blis==1.3.3
catalogue==2.0.10
certifi==2026.2.25
cffi==2.0.0
chardet==7.1.0
charset-normalizer==3.4.5
click==8.3.1
clipboard==0.0.4
cloudpathlib==0.23.0
colorlog==6.10.1
confection==0.1.5
construct==2.10.70
construct-typing==0.7.0
contourpy==1.3.3
cryptography==46.0.5
cuda-bindings==12.9.4
cuda-pathfinder==1.4.2
cycler==0.12.1
cymem==2.0.13
decorator==4.4.2
defusedxml==0.7.1
distro==1.9.0
easyocr==1.7.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile==2.0.0
ezodf==0.3.2
fasteners==0.20
filelock==3.25.2
Flask==3.1.3
flask-cors==6.0.2
fonttools==4.62.1
frozenlist==1.8.0
fsspec==2026.2.0
future==1.0.0
geopandas==1.1.3
greenlet==3.3.2
gunicorn @ file:///home/task_177021762687071/croot/gunicorn_1770217649848/work
h11==0.16.0
hf-xet==1.4.2
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.7.1
idna==3.11
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
imagesize==2.0.0
iniconfig==2.3.0
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
jsonalias==0.1.1
keybert==0.9.0
kiwisolver==1.5.0
lazy-loader==0.5
lxml==6.0.2
m3u8==6.0.0
m3u8-To-MP4==0.1.11
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
modelscope==1.35.0
moviepy==1.0.3
mplfinance==0.12.10b0
mpmath==1.3.0
multidict==6.7.1
murmurhash==1.0.15
networkx==3.6.1
ninja==1.13.0
nltk==3.9.4
numpy==2.3.5
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.8.90
odfpy==1.4.1
openai==2.30.0
opencv-contrib-python==4.10.0.84
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
openlocationcode==1.0.1
openpyxl==3.1.5
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging @ file:///home/task_176104885106445/conda-bld/packaging_1761049078006/work
paddleocr==3.5.0
paddlepaddle==3.2.2
paddlex==3.5.2
pandas==3.0.1
pathlib==1.0.1
pdf2image==1.17.0
pdfminer.six==20251230
pdfplumber==0.11.9
pexpect==4.9.0
pika==1.3.2
pillow==12.1.1
playwright==1.58.0
pluggy==1.6.0
portalocker==3.2.0
preshed==3.0.12
prettytable==3.17.0
proglog==0.1.12
propcache==0.4.1
protobuf==7.34.0
psutil==7.2.2
psycopg==3.3.3
psycopg-binary==3.3.3
psycopg2-binary==2.9.11
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyclipper==1.4.0
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pydisort==1.6.0
pydot==4.0.1
pydub==0.25.1
pyee==13.0.1
Pygments==2.19.2
PyMuPDF==1.27.2
pyogrio==0.12.1
pyparsing==3.3.2
PyPDF2==3.0.1
pypdfium2==5.6.0
pyperclip==1.11.0
pyproj==3.7.2
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.11.1
PySimpleGUI==5.0.8.3
PySimpleGUIWeb==0.39.0
PySocks==1.7.1
pysrt==1.1.2
pytesseract==0.3.13
pytest==9.0.2
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
PyYAML==6.0.2
regex==2026.2.28
remi==2020.3.10
requests==2.32.5
rich==14.3.3
ruamel.yaml==0.19.1
safetensors==0.7.0
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
selenium==4.41.0
sentence-transformers==5.3.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
smart_open==7.5.1
sniffio==1.3.1
solana==0.36.11
solders==0.27.1
sortedcontainers==2.4.0
soupsieve==2.8.3
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.15.1
SQLAlchemy==2.0.48
srsly==2.5.2
sympy==1.14.0
thinc==8.3.10
threadpoolctl==3.6.0
tifffile==2026.3.3
tiktoken==0.12.0
tokenizers==0.22.2
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.3
transformers==5.3.0
trio==0.33.0
trio-websocket==0.12.2
triton==3.6.0
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
ujson==5.12.0
urllib3==2.6.3
wasabi==1.1.3
wcwidth==0.6.0
weasel==0.4.3
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.6
whisper==1.1.10
wordsegment==1.3.1
wrapt==2.1.2
wsproto==1.3.2
yarl==1.23.0
yt-dlp==2026.3.13
